# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads/Outputs
uploads/*
outputs/*

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Database
*.db